*{
	margin: 0;
	padding: 0;
}
.body{
	background-color: #17a2b8;
	height:550px;


}
.menu{
	background-color: #343a40;
	height:10%;
}

.pic{
	width:20%;
padding-top: 89px;
}
.display-3{
	text-align:center;
}
.mid{
	text-align: center;
	padding-top: 40px;
}
.mid-2{
	text-align: center;
	padding-top: 30px;
}
.img-thumbnail{
	width: 60%;
}
.text{
	text-align: center;
	padding-top: 20px;
}
.col-sm-6{
	    max-width: 21%;
}
.about{
	background-color: #17a2b8;
}
.last{
	height: 40px;
}

.foot{
	background-color: #343a40;
	height:10%;
	margin-top: 10px;
}
.footer-2{
	background-color:black;
	height: 5%;
	color:white;

	
}
.top{
	color: white;
}
